include mixins.pug

.saleWrapper
  .saleHeader
    h1.saleHeader-heading What's on sale?
    p.saleHeader-subheading This is the place for special pricing on art you'll LOVE.
  //- repeats
  //- .saleModule.saleModule-reverse 
  .saleModule-background
    .saleModule(data-galleryId="30735").track-group#sale-readyToHang
      art:categorySubject(id="30735")
        a.saleImg(href="#" art:subjectLink="href")
          img(src="//cache1.artprintimages.com/images/sale/readytohang_desktop3_1x.jpg" alt="Ready to Hang art on sale now")
        .saleProducts
          .saleInfo
            p.saleInfo-amount 
              span.saleInfo-amount-designator Up to
              span.saleInfo-amount-actual % Off
            p.saleInfo-title Ready to Hang Art
            a.saleInfo-cta(href="#" art:subjectLink="href") shop this sale
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct 
            .animated-background
  
  .saleModule-background
    .saleModule.saleModule-reverse(data-galleryId="444180").track-group#sale-woodMount
      art:categorySubject(id="444180")
        a.saleImg(href="#" art:subjectLink="href")
          img(src="//cache1.artprintimages.com/images/sale/woodmount_desktop_1x.jpg" alt="Wood Mount art on sale now")
        .saleProducts
          .saleInfo
            p.saleInfo-amount
              span.saleInfo-amount-designator Up to
              span.saleInfo-amount-actual % Off
            p.saleInfo-title Wood mount art
            a.saleInfo-cta(href="#" art:subjectLink="href") shop this sale
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          
  .saleModule-background
    .saleModule.saleModule-wide.saleModule-wide-reverse(data-galleryId="p2a").track-group#sale-p2a
      a.saleLifestyle(href="/photostoart")
        img(src="//cache1.artprintimages.com/images/sale/photostoart_desktop_1x.jpg" alt="Photos to Art on sale now")
      .saleInfo
        p.saleInfo-amount
          span.saleInfo-amount-designator Up to
          span.saleInfo-amount-actual % Off
        p.saleInfo-title Photos to art
        a.saleInfo-cta(href="/photostoart") shop this sale
  
  .saleModule-background
    .saleModule(data-galleryId="155704").track-group#sale-bestSellers
      art:categorySubject(id="155704")
        a.saleImg(href="#" art:subjectLink="href")
          img(src="//cache1.artprintimages.com/images/sale/bestsellers_desktop3_1x.jpg" alt="Best Sellers on sale now")
        .saleProducts
          .saleInfo
            p.saleInfo-amount
              span.saleInfo-amount-designator Up to
              span.saleInfo-amount-actual % Off
            p.saleInfo-title Best Sellers
            a.saleInfo-cta(href="#" art:subjectLink="href") shop this sale
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
  
  .saleModule-background
    .saleModule.saleModule-reverse(data-galleryId="266767").track-group#sale-canvasArt
      art:categorySubject(id="266767")
        a.saleImg(href="#" art:subjectLink="href")
          img(src="//cache1.artprintimages.com/images/sale/canvas_desktop_1x.jpg" alt="Canvas Art on sale now")
        .saleProducts
          .saleInfo
            p.saleInfo-amount
              span.saleInfo-amount-designator Up to
              span.saleInfo-amount-actual % Off
            p.saleInfo-title Canvas art
            a.saleInfo-cta(href="#" art:subjectLink="href") shop this sale
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
            
  .saleModule-background
    .saleModule.saleModule-wide.track-group#sale-giftGuide
      a.saleLifestyle(href="/gift-guide")
        img(src="//cache1.artprintimages.com/images/sale/giftguide_desktop_1x.jpg" alt="Find great gifts in our 2017 Gift Guide")
      .saleInfo
        p.saleInfo-amount
          //- span.saleInfo-amount-designator Up to
          span.saleInfo-amount-actual Gift Guide
        p.saleInfo-title Check out our<br>weekly deals
        a.saleInfo-cta(href="/gift-guide") shop now
        
  //- .saleModule-background
  //-   .saleModule(data-galleryId="711808").track-group#sale-popularFramedArt
  //-     art:categorySubject(id="711808")
  //-       a.saleImg(href="#" art:subjectLink="href")
  //-         img(src="//cache1.artprintimages.com/images/sale/popularframed_desktop2_1x.jpg" alt="Popular Framed art on sale now")
  //-       .saleProducts
  //-         .saleInfo
  //-           p.saleInfo-amount
  //-             span.saleInfo-amount-designator Up to
  //-             span.saleInfo-amount-actual % Off
  //-           p.saleInfo-title Popular framed art
  //-           a.saleInfo-cta(href="#" art:subjectLink="href") shop this sale
  //-         a(href="#" art:subjectLink="href").saleProduct
  //-           .animated-background
  //-         a(href="#" art:subjectLink="href").saleProduct
  //-           .animated-background
  //-         a(href="#" art:subjectLink="href").saleProduct  
  //-           .animated-background
  
  .saleModule-background
    .saleModule.saleModule-reverse(data-galleryId="1969415").track-group#sale-affordableArtPhoto
      art:categorySubject(id="1969415")
        a.saleImg(href="#" art:subjectLink="href")
          img(src="//cache1.artprintimages.com/images/sale/affordable_desktop2_1x.jpg" alt="Affordable art and photography on sale now")
        .saleProducts
          .saleInfo
            p.saleInfo-amount
              span.saleInfo-amount-designator Up to
              span.saleInfo-amount-actual % Off
            p.saleInfo-title Affordable art & photography
            a.saleInfo-cta(href="#" art:subjectLink="href") shop this sale
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
          a(href="#" art:subjectLink="href").saleProduct
            .animated-background
